[Unit]
Description=Monitor StreamVault media production service
After=network-online.target

[Service]
Type=oneshot
User=opc
EnvironmentFile=-/home/opc/StreamVault-HttpStatic-monitor.env
ExecStart=/usr/bin/bash /home/opc/StreamVault-HttpStatic-monitor.sh
